<script type="text/javascript">
$(document).ready(function(){
    $("#ok-button").focus();
   })
</script>
<div class="modal-header">
    {{title}}<button class="dialog-close-btn" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="assignTypeDialogBody">
  <div class="firstLine">
  <div id="release-audition">
     <label>开始时间：</label> 
     
     <input class="input-style" recruit-datepicker="{showMeridian: false}" ng-model="audition.auditionDate" />
     <span class="input-append bootstrap-timepicker">
            <input id="timepicker2" recruit-timepicker type="text" ng-model="audition.auditionTime" class="input-small">
            <span class="add-on">
                <i class="icon-time"></i>
            </span>
      </span>
      <div id="audition-info">
        <label>面试信息：</label>  <textarea id="audition-texarea" ng-model="audition.auditionInfo" class="input-style"></textarea>
      </div>
      
  </div>
  </div>
</div>
<div id="audition-modal-footer" class="modal-footer">
  <button class="dialog-ok-btn" ng-click="ok()">发布</button>
  <button class="dialog-cancel-btn" ng-click="cancel()">取消</button>
</div>
