<div id="header" ng-controller="HeaderCtrl">
  <div id="header-top">
    <div class="maxwidth">
      <a href="/Recruit" class="left" id="logo"> 
        <img src="styles/logo.png" />
      </a>
      <div id="header-info" class="right">
        <span ng-show="currentUser.username">
            {{currentUser.roleName}} 您好！ {{currentUser.username}}
            <a id="header-register" ng-click="logout()">退出</a>
        </span>
        <span ng-show="!currentUser.username">
            <a href="" ng-click="login()" id="header-login">登录</a> 
            <a href="#/register" id="header-register">注册</a>
        </span>
      </div>
    </div>
  </div>
  <div id="menus">
    <div class="maxwidth">
      <ul id="menu" class="left">
        <li><a href="/Recruit">首页</a></li>
        <li><a href="">走进我们</a></li>
        <li><a href="">工作环境</a></li>
        <li ng-show="currentUser.roleID == 5"><a href="#/resume">个人简历</a></li>
        <li ng-show="currentUser.roleID == 5"><a href="#/ownRequests">申请表</a></li>
        <li ng-show="currentUser.roleID == 4"><a href="#/backStage">后台系统</a></li>
        <li ng-show="currentUser.roleID == 3"><a href="#/backStage">后台系统</a></li>
        <li ng-show="currentUser.roleID == 2"><a href="#/backStage">后台系统</a></li>
        <li ng-show="currentUser.roleID == 1"><a href="#/admin">后台系统</a></li>
      </ul>
    </div>

  </div>
</div>