<script type="text/javascript">
$(document).ready(function(){
    $("#ok-button").focus();
   })
</script>
<div class="modal-header">
    {{title}}<button class="dialog-close-btn" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="assignTypeDialogBody">
  <div class="firstLine">
  <div id="login">
     <div id="login-error">用户名或密码错误</div>
     <div class="margin-top-30">
	     <label>用户名：</label> 
	     <input type="text" ng-model="user.name" />
     </div>
      <div class="margin-top-30">
        <label>密码：</label>
        <input type="password" id="audition-texarea" ng-model="user.password" />
      </div>
  </div>
  </div>
</div>
<div id="audition-modal-footer" class="modal-footer">
  <button class="dialog-ok-btn" ng-click="ok()">登录</button>
  <button class="dialog-cancel-btn" ng-click="cancel()">取消</button>
</div>
