<div class="maxwidth" ng-init="initRequest()">
    <div class="margin-top-20">
        <div class="row">
            <label>申请人：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.userEntityExt.name" readonly />
            </span>
        </div>
        <div class="row">
            <label>申请职位：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.jobRecruitEntityExt.jobEntityExt.name" readonly />
            </span>
        </div>
        <div class="row">
            <label>工作地点：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.jobRecruitEntityExt.city" readonly />
            </span>
        </div>
        <div class="row">
            <label>当前状态：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.statusEntityExt.defaultinfomation" readonly />
            </span>
        </div>
        <div class="row">
            <label>状态改变时间：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.statusChangeTimeFormat" readonly />
            </span>
        </div>
        <div class="row" ng-show="jobRequest.auditionTimeFormat != null">
            <label>面试时间：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.auditionTimeFormat" readonly />
            </span>
        </div>
        <div class="row" ng-show="jobRequest.auditionTimeFormat != null"> 
            <label>面试批示：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.auditioninfo" readonly />
            </span>
        </div>
        <div class="row" ng-show="jobRequest.auditionrespond == null && jobRequest.auditionTimeFormat != null && currentUser.roleID == 5">
            <label>面试回复：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="auditionResponse" />
            </span>
            <div>
	            <button ng-click="responseAudition()">回复</button>
            </div>
        </div>
        <div class="row" ng-show="jobRequest.auditionRespondTimeFormat != null"> 
            <label>面试回复：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="jobRequest.auditionrespond" readonly />
            </span>
        </div>
        <div class="row" ng-show="currentUser.roleID != 5">
            <label>操作批示：</label> 
            <span class="span2"> 
                <input class="input-style" ng-model="opinion" />
            </span>
            <div>
	            <button ng-click="operationRequest(true)">通过</button>
	            <button ng-click="operationRequest(false)">拒绝</button>
            </div>
        </div>
    </div>
    
    <div>
        <ul>
            <li ng-repeat="history in jobRequest.jobRequestHistoryEntityExts">
                <span>操作人: {{history.officername}}       操作时间: {{history.operationdate}}</span>
                <span>状态: {{history.statusEntityExt.defaultinfomation}}       操作内容: {{history.operation}}</span>
            </li>
        </ul>
    </div>
    
</div>